{
    "config": {
        "@xmlns": "urn:6wind:vrouter",
        "vrf": {
            "name": "main",
            "routing": {
                "@xmlns": "urn:6wind:vrouter/routing",
                "bgp": {
                    "@xmlns": "urn:6wind:vrouter/bgp"
                }
            }
        }
    }
}