{
    "config": {
        "@xmlns": "urn:6wind:vrouter",
        "vrf": {
            "name": "main",
            "vrrp": {
                "@xmlns": "urn:6wind:vrouter/vrrp"
            }
        }
    }
}