{
    "config": {
        "@xmlns": "urn:6wind:vrouter"
{% for vrf_dict in netbox_vrfs_data.json.results %}
{% if vrf_dict.name == target_vrf %}
        ,"vrf": {
            "name": "{{ target_vrf }}",
            "interface": {
                "@xmlns": "urn:6wind:vrouter/interface"
            }
        }
{% endif %}
{% endfor %}
    }
}